@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background: #33485d;
    background-image: none;
    background-image: url(./assets//background.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}


.conteiner {
    height: 100vh;
    margin: auto;
    width: 900px;
}


.pagination {
    position: absolute;
    bottom: 0;
    margin-left: 200px;
    height: 70px;
    margin-bottom: auto;
    width: 600px;
    display: flex;
    gap: 10px;
    flex-direction: row;
    border: 2px solid black;
    border-radius: 30px;
}

.item {
    width: 33%;
    border-radius: 30px;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    cursor: pointer;
    line-height: 70px;
    color: black;
    font-size: 20pt;
    font-weight: bold;
}

.item:hover {
    background-color: lightblue;
}


#sonya {
    margin-top: 40px;
    border-radius: 40px;
}

.sonyaPhoto {
    display: flex;
}

.sonyaPhoto p {
    margin-top: 40px;
    margin-left: 20px;
    border-radius: 40px;
    font-family: 'Raleway', sans-serif;
    font-size: 15pt;
    font-weight: 700;
    color: black;
}

.love {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    cursor: pointer;
}

.love img {
    height: 50px;
    width: 50px;
}

.love img:hover {
    filter: brightness(100);
}


#geko {
    position: absolute;
    transform: rotate(50deg);
    animation-duration: 3s;

}


@keyframes run {
    0% {
        top: 100%;
        transform: rotate(50deg);
    }

    30% {
        top: 70%;
        transform: rotate(90deg);
    }

    60% {
        top: 50%;
        transform: rotate(50deg);
    }

    80% {
        top: -10%;
        transform: rotate(90deg);
    }

    100% {
        top: -50%;
        transform: rotate(50deg);
    }

}

@keyframes jump {
    100% {
        left: 100%;
        transform: rotate(10deg);
        top: 30%
    }

    80% {
        left: 70%;
        transform: rotate(-10deg);
        top: 30%
    }

    60% {
        left: 30%;
        transform: rotate(10deg);
        top: 30%
    }

    30% {
        left: -30%;
        transform: rotate(-10deg);
        top: 30%
    }

    0% {
        left: -50%;
        transform: rotate(10deg);
        top: 30%
    }

}