@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');

@keyframes kiss {
  0% {
    transform: scale(5);
  }

  100% {
    transform: scale(1);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.2s;
}

body {
  background-color: #ff7898;
}

header {
  padding-top: 60px;
}

h1 {
  font-family: 'Fascinate', cursive;
}

header p {
  margin-top: 50px;
  font-family: 'Fascinate', cursive;
  padding-bottom: 40px;
  color: white;
  text-align: center;
  font-size: 17pt;

}


.btn1 {
  border: 4px solid white;
  font-size: 20pt;
  min-height: 70px;
  width: 250px;
  background: #ff7898;
  color: white;
}

.btn1:hover {
  border-color: #ff7898;
  background: white;
  color: gray;
}

.btn2 {
  border: 4px solid #ff7898;
  background: #fa4874;
  font-size: 20pt;
  height: 70px;
  width: 250px;
  color: white;
}

.btn2:hover {
  border: 4px solid white;
  background: #ff7898;
  color: white;
}


.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-bottom: 50px;
}

.images {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

header img:hover {
  filter: contrast(2);
}

section img:hover {
  filter: contrast(2);
}


section {
  min-height: 100vh;
  background: #fff;
  margin: auto;
}


.conteinerSection {
  padding-top: 50px;
  margin: auto;
  max-width: 900px;
}

.items {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  margin: auto;
  padding-bottom: 50px;
}

.item {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item img {
  width: 150px;
  height: 150px;
}

.item img:hover {
  filter: contrast(1.2);
  transform: scale(1.1);
}

.item p {
  text-align: center;
  padding-top: 10px;
  font-family: 'Raleway';
}

.kiss {
  position: absolute;
  animation-duration: 2s;
  filter: contrast(2);
}




.container_slider_css {
  width: 600px;
  height: 500px;
  overflow: hidden;
  position: relative
}

.photo_slider_css {
  position: absolute;
  animation: round 16s infinite;
  opacity: 0;
  width: 100%;
}

.story {
  font-family: 'Raleway';
  color: white;
  font-size: 20pt;
  padding-top: 40px;
}

.page2 {

  padding-top: 40px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center
}

.containerPage2 {
  max-width: 900px;
  margin: auto;

}

.container_slider_css {
  margin: auto;
}

@keyframes round {
  25% {
    opacity: 1
  }

  40% {
    opacity: 0
  }
}

.container_slider_css img:nth-child(1) {
  animation-delay: 12s
}

.container_slider_css img:nth-child(2) {
  animation-delay: 8s
}

.container_slider_css img:nth-child(3) {
  animation-delay: 4s
}

.container_slider_css img:nth-child(4) {
  animation-delay: 0
}

@media(min-width:0px) and (max-width:320px) {
  .container_slider_css {
    width: 80%;
    height: 190px
  }
}

@media(min-width:321px) and (max-width:480px) {
  .container_slider_css {
    width: 80%;
    height: 190px
  }
}





.page3 {
  height: 70vh;
  background: white;
}

.containerPage3 {
  max-width: 900px;
  margin: auto;
  padding-top: 100px;
  display: flex;
}

.cat {
  max-width: 40%;
}

.chooseLove button {
  height: 50px;
  width: 300px;
  margin-top: 20px;
}

.button {
  border: 1px solid green;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  transform: skewX(-10deg);
  height: 50px;
  width: 200px;
  border-radius: 20px 5px 20px 0px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  font: 15px sans-serif;
  font-weight: 300;
  text-shadow: 0 0 20px #fff;
  text-transform: uppercase;
  -webkit-animation: breath2 2s 0.5s infinite alternate;
  animation: breath2 2s 0.5s infinite alternate;
  transition: all 0.2s ease;
  cursor: pointer;
}

.button:before {
  content: "";
  display: block;
  width: calc(100% - 22px);
  height: calc(50px - 8px);
  -webkit-animation: breath 2s infinite alternate;
  animation: breath 2s infinite alternate;
  left: 10px;
  top: 3px;
  position: absolute;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 15px 3px 15px 3px;
}

.button.fire {
  margin-left: 80px;
  margin-top: 10px;
  border-color: #ffeca8;
  background-image: linear-gradient(to bottom, rgba(255, 138, 48, 0.6), rgba(240, 96, 29, 0.6));
  box-shadow: 0 0 70px rgba(255, 138, 48, 0.6), 0 5px 20px rgba(255, 138, 48, 0.6), inset 0 1px #ffeca8, inset 0 -1px #ffeca8;
  color: #ffeca8;
}

.button.fire:before {
  box-shadow: inset 0 0 30px 0 #ffeca8;
}

.button.ice {
  margin-left: 80px;
  margin-top: 10px;
  border-color: #a8ecff;
  background-image: linear-gradient(to bottom, rgba(48, 138, 255, 0.5), rgba(29, 96, 240, 0.5));
  box-shadow: 0 0 70px rgba(48, 138, 255, 0.5), 0 5px 20px rgba(48, 138, 255, 0.5), inset 0 1px #ffeca8, inset 0 -1px #ffeca8;
  color: #a8ecff;
}

.button.ice:before {
  box-shadow: inset 0 0 30px 0 #a8ecff;
}

.button:hover.fire {
  box-shadow: 0 0 70px rgba(255, 138, 48, 0.8), 0 5px 20px rgba(255, 138, 48, 0.8), inset 0 1px #ffeca8, inset 0 -1px #ffeca8;
}

.button:hover.fire:before {
  box-shadow: inset 0 0 50px 0 #ffeca8;
}

.button:hover.ice {
  box-shadow: 0 0 70px rgba(48, 138, 255, 0.8), 0 5px 20px rgba(48, 138, 255, 0.8), inset 0 1px #a8ecff, inset 0 -1px #a8ecff;
}

.button:hover.ice:before {
  box-shadow: inset 0 0 50px 0 #a8ecff;
}

.button+.button {
  margin-top: 15px;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

@-webkit-keyframes breath {
  0% {
    transform: scaleX(1);
  }

  100% {
    transform: scaleX(0.95);
  }
}

@keyframes breath {
  0% {
    transform: scaleX(1);
  }

  100% {
    transform: scaleX(0.95);
  }
}

@-webkit-keyframes breath2 {
  0% {
    transform: skewX(-10deg) scaleX(1);
  }

  100% {
    transform: skewX(-10deg) scaleX(0.95);
  }
}

@keyframes breath2 {
  0% {
    transform: skewX(-10deg) scaleX(1);
  }

  100% {
    transform: skewX(-10deg) scaleX(0.95);
  }
}

.ref {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  padding: 5px 8px;
  position: absolute;
  font-size: 16px;
  bottom: 10px;
  right: 10px;
  color: #fff;
  font-weight: 300;
  font-family: sans-serif;
  text-decoration: none;
}

.ref::first-letter {
  font-size: 12px;
}