
@media screen and (max-width: 630px) {
    header
    {
        padding-top: 10px;
    }
    header p{
        font-size: 10pt;
        font-weight: 600;
    }
    .images
    {
        display: none;
    }
    .buttons
    {
        flex-direction: column;
    }
    .items
    {
        flex-direction: column;
        align-items: center;
    }
    .item{
        padding-top: 50px;
    }
    .item:first-child{
        padding-top: 0px;
    }
    .containerPage3
    {
flex-direction: column;
align-items: center;
    }
    .button.fire
    {
        margin-left: 40px;
    }
    .button.ice
    {
        margin-left: 40px;
    }
}